/* -----------------------------------------
   Theme Colors
----------------------------------------- */
$background-color:			#eee;
$off-background-color:		#ddd;
$text-color:				#444;
$accent-color:				#2a2;
$rare-color:				#543;