/* -----------------------------------------
   Theme Colors
----------------------------------------- */
$background-color:			#124;
$off-background-color:		#235;
$text-color:				#167;
$accent-color:				#3ea;
$rare-color:				#dda;