/* -----------------------------------------
   Theme Colors
----------------------------------------- */
$background-color:			#fe8;
$off-background-color:		#fd1;
$text-color:				#7ae;
$accent-color:				#979;
$rare-color:				#8b5;