#pregame-screen {
	position: absolute;
	top 0px;
	left: 0px;
	background: #fff;
	}
#player-info {
	float: left;
	margin: 15px;
	position: relative;
	}
#opponent-info {
	float: left;
	margin: -1.6em 0 0 400px;
	position: relative;
	width: 200px;
	}
.username {
	width: 200px;
	font: 1.6em sans-serif;
	color: #444;
	}
.unedited {
	background: #ccc;
	font-style: italic;
	padding: 5px;
	}
.unsubmitted {
	border: 1px dotted;
}
.chosen-plant {
	position: absolute;
	left: 0px;
	top: 1.8em;
	font: italic 0.9em serif;
	color: #aaa;
	}

#plant-selector {
	position: absolute;
	top: 100px;
	margin: 15px;
	width: 1000px;
	border-top: 1px solid #444;
	}
#tabs {
	position: relative;
	top: -1.1em;
	font: 1.2em serif;
	font-variant: small-caps;
	padding-left: 200px;
	}
.tab {
	background: white;
	float: left;
	padding: 1px 10px;
	border: 1px;
	border-style: solid none none solid;
	height: 17px;
	}
.tab:hover {
	color: white;
	background: #444;
	border: 1px black;
	border-style: solid none none solid;
	}
.last-tab {
	border-right: 1px solid;
}
.last-tab:hover {
	border-right: 1px solid black;
}
.selected-tab {
	height: 18px;
}
.selected-tab:hover {
	background: white;
	color: black;
	}

#plant-panels {
	margin: 10px;
	border: 1px solid;
	position: relative;
	clear: both;
	}
#plant-panels .selected-set {
	display: block;
}
#plant-panels > div {
	display: none;
}
.plant-panel {
	border: 1px solid white;
	margin: 10px 10px 0 10px;
	width: 222px;
	float: left;
	text-align: center;
	}
.plant-panel:hover {
	border: 1px dotted #aaa;
}
.selected-plant {
	border: 1px dashed #2a2;
}
.selected-plant:hover {
	border: 1px dashed #2a2;
}
#header {
	margin: 5px;
	height: 55px;
	}
#header .common-name {
	font: 1.4em sans-serif;
	color: #444;
	}
#header .scientific-name {
	font: italic 0.8em serif;
	color: #aaa;
	}
#image img {
	width: 200px;
	height: 130px;
	margin-top: 5px;
	}
#flavor-text {
	font: italic 0.7em arial;
	color: #aaa;
	margin: 5px;
	padding: 0 10px;
	height: 45px;
	text-align: left}
#flavor-text .icon {
	float: left;
	margin: 0 5px 2px 0;
	}
#grow-cycle {
	margin-top: 8px;
}
#queue-size {
	position: relative;
	top: 2px;
	width: 160px;
	}
.label {
	float: left;
	font: 1.1em sans-serif;
	color: #444;
	margin-left: 10px;
	margin-top: 5px;
	}
.value {
	float: right;
	font: 1.4em courier;
	margin: -2px 10px 0 0;
	vertical-align: middle;
	}
.value img {
	position: relative;
	top: 2px;
	right: 4px;
	}
#queue-size .value {
	position: absolute;
	right: -63px;
	top: 1.2em;
	}
.plant-cards {
	text-align: left;
}


#start-game {
	position: absolute;
	left: 900px;
	top: 20px;
	}

#game-zone {
}
#starting-screen {
	background: white;
	width: 1000px;
	height: 300px;
	margin: 50px;
	font: 12em sans-serif;
	color: #444;
	border: 1px solid #444;
	position: absolute;
	text-align: center;
	padding-top: 150px;
	}
.hidden {
	display: none;
}

#info {
	float: left;
}
#play-zone {
	float: left;
}
#current-user-zone {
	float: left;
}
#opponent-zone {
	float: right;
}
.player-zone {
	border: 1px solid #666;
	width: 280px;
	padding: 5px;
	margin: 5px;
	padding-bottom: 15px;
	}
.status {
	height: 100px;
	position: relative;
	margin-bottom: -20px}
#username {
	font: bold 1.6em sans-serif;
	color: #444;
	float: left;
	}
#plant {
	font: italic 0.9em serif;
	color: #aaa;
	float: left;
	position: absolute;
	left: 0px;
	top: 1.8em;
	}
.data {
	float: right;
	width: 100px;
	font: 1.6em courier;
	}
#grow-cycle {
}
#grow-cycle .colored {
	color: red;
}
#grow-cycle .strike {
	text-decoration: line-through;
}
#points {
	margin-top: -20px;
	color: black;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
	}
#points .colored {
	color: #fd1;
	-moz-transition: color 0.1s;
	-webkit-transition: color 0.1s;
	}

.queue {
	border: 1px dashed #666;
	width: 200px;
	height: 40px;
	margin: 15px auto;
	}
.outer-bar {
	border: 1px solid #000;
	padding: 0px;
	width: 170px;
	height: 10px}
.inner-bar {
	height: 10px;
	width: 100%;
	}
.timer {
	font-size: 0.8em;
	font-variant: small-caps;
	margin: 7px 15px;
	}

#market-zone {
	float: left;
	width: 445px;
	}

.card {
	background: #eee;
	border: 1px solid #bbb;
	width: 200px;
	height: 30px;
	margin: 5px;
	padding: 5px;
	position: relative;
	-moz-transition: height,min-height 1s;
	-webkit-transition: height,min-height 1s;
	}
.card:hover {
	min-height: 82px;
}
.card .cardname {
	font: 1.1em optima,serif;
	float: left;
	width: 100%;
	text-align: center;
	}
.card .text {
	opacity: 0;
	font: 0.8em sans-serif;
	position: relative;
	top: 3px;
	clear: both;
	margin-bottom: -10px;
	-moz-transition: opacity 0.5s ease-in;
	-webkit-transition: opacity 0.5s ease-in;
	}
.card:hover .text {
	opacity: 1;
}
.card .bottom {
	position: absolute;
	bottom: 0px;
	left: -5px;
	width: 100%;
	padding-top: 15px;
	}
.card .cost {
	opacity: 0;
	position: absolute;
	left: 10px;
	bottom: 0px;
	font: 0.9em sans-serif;
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	}
.card .cost:before {
	content: url(../images/game/cycle-black.png);
	margin-right: 2px;
	}
.card:hover .cost {
	opacity: 1}
.card .timer {
	font-size: 0.8em;
	font-variant: small-caps;
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	}
.card:hover .timer {
	opacity: 0;
}
.card .duration {
	position: absolute;
	right: 0px;
	bottom: 0px;
	font: 0.9em sans-serif}
.card .duration:before {
	content: url(../images/game/duration-black.png);
	margin-right: 3px;
	}
.icon {
	margin-right: 2px;
	margin-bottom: -1px;
	}

#deck-zone {
	clear: both;
	position: relative;
	top: 15px;
	}
.card-pile {
	border: 3px double #666;
	width: 174px;
	height: 58px;
	padding-top: 10px;
	margin: 5px;
	text-align: center;
	font: bold 1.6em sans-serif;
	color: #444;
	float: left;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	}
#hand {
	width: 670px;
	float: left;
	border: 1px;
	}
#discard {
	margin-left: 1px;
}
.flash {
	background: #444;
	color: #fff;
	}
#draw_timer {
	position: absolute;
	top: 100px;
	left: 6px;
	border: 1px solid;
	width: 174px;
	}
#draw_timer .outer-bar {
	width: 140px;
}