/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: games
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.animate-hide {
	opacity: 1;
	-webkit-transition: opacity 0.5s;
}
.hide {
	opacity: 0;
	display: block;
}
.display-none {
	display: none;
}

.animate-shrink {
	max-height: 400px;
	opacity: 1;
	overflow: hidden;
	-webkit-transition: max-height 2s ease-out, opacity 2s;
}
.shrink {
	max-height: 0;
	opacity: 0;
}

.animate-color {
	-webkit-transition: color 0.3s;
}
.red {
	color: #c22;
}
.green {
	color: #2c2;
}

fieldset {
	border-radius: 10px 0 / 8px 0;
	border-width: 3px 1px 2px;
	border-style: double solid solid;
	padding-bottom: 10px;
}
fieldset legend {
	font-size: 1.4em;
	color: #444;
	padding-left: 8px;
	padding-right: 10px;
}


/* -----------------------------------------
   games
----------------------------------------- */

#view-buttons {
	padding-top: 25px;
}
#view-buttons .view-button {
	font-size: 2em;
	width: 65px;
	height: 65px;
	padding-top: 12px;
	margin: 5px;
	color: #444;
	text-align: center;
}
#view-buttons .view-button:hover {
	border-color: #aaa;
	color: #2a2;
}
#view-buttons .view-button.current-view {
	background: #2a2;
	color: #fff;
	border-color: #666;
}
.no-touch #view-buttons .view-button.current-view:hover {
	color: #444;
}

#scrollarea {
	max-height: 210px;
	overflow: auto;
}
#gamelist .odd {
	background: #e0f5e0;
}
#gamelist .even {

}
#gamelist .lineitem {
	padding: 4px;
}
.icon-unlock.privacyicon {
	color: #ccc;
}
.icon-lock.privacyicon {
	color: #888;
}