<div class='row'>
	<div class='nine columns offset-by-one'>
		<div id='login-title' style='margin-left: 60px; padding-right: 30px;'>
			<span class='title clearfix'>Chrysanthemum</span> 
			<div id='icon-fieldset'>
				<div class='row'>
					<div id='login-icon' class='one columns'>
						<fieldset>
							<span class='icon clearfix' ng-click='activateLogin()'><i class='ico-leafbolt' ng-class='green'></i></span>
						</fieldset>
					</div>
					<div id='login-box' class='eleven columns'>
						<fieldset>
							<legend><i class='icon-key'></i> Log In</legend>
							
							<form name='loginForm' style='margin: 0px;' ng-submit=''>
								<input type='text' name='username' placeholder='Username' ng-model='user.name' ng-pattern='usernameRegexp' required>
								<small class='error' ng-show='loginForm.username.$error.pattern'>Usernames can't have spaces</small>

								<input type='password' name='password' placeholder='Password' ng-model='user.password' required>
								
								<button name='login' id='submit-button' type='submit' class='button' ng-class='{success: loginForm.$valid, alert: !loginForm.$valid}'>Log In</button>
							</form>
							<button name='register' id='register-button' class='tiny secondary button'>Register</button>
						</fieldset>
					</div>
				</div>
			</div>
			<br />
			<!-- <span class='icon clearfix' ng-click='activateLogin()'><i class='icon-leaf'></i></span> -->
			<span class='subtitle clearfix'>Fight the cycle of the seasons – grow your <span class='subtitle-rotator has-tip' title="In Chrysanthemum, a real-time deck building game, time is your currency. Balance your plant's grow cycle with the growth of your deck before the clock runs out!" data-width='200'><span class='clearfix'>mind</span></span></span>
		</div>
	</div>
</div>